body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F27200;
    color: #55137D;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

table {
    font-size: 20px;
    text-align: center;
}

.center {
    padding-left: 25%;
    padding-right: 25%;
}

#footer {
    font-size: 10px;
}
