/*fonts
 font-family: "Londrina Sketch", sans-serif;
 font-family: "Playwrite GB S", cursive;
 font-family: "Kablammo", system-ui;
 font-family: "Nosifer", sans-serif;
*/
@import url(https://fonts.googleapis.com/css2?family=Kablammo&family=Londrina+Sketch&family=Nosifer&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap);

/* color palets
FFFEF6 - white
FFC425 - yellow
FF9B18 - light orange
9E5513 - light brown 
653611 - dark brown
1C0E07 - black
b50e0e - crimson
*/
* {
    box-sizing: border-box;
    /* Box Model Fix */
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(#9E5513, #653611);
    height: 100vh;
}
ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
    color: #fff;
    font-family: "Nosifer", sans-serif;
}

.main-nav {
    margin-top: 5px;
    font-family: "Londrina Sketch", sans-serif;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #96E194;
    font-size: .99em;
}

.main-nav a:hover {
    color: #FF9B18;
}
.logo a{
    color: #b50e0e;
}
.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #ee9117;
    background-color: #9E551388;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

#hero {
    background-image: url(../images/2151827517.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom;
    min-height: 500px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero h2 {
    color: #b50e0e;
    font-size: 1.8rem;
    text-shadow: 2px 2px 6px #fff;
    font-family: "Nosifer", sans-serif;
    text-align: center;
}

.one {
    padding: 10%;
    font-size: 1.8em;
}

.one h2,
.one p{
    font-family: "Kablammo", system-ui;
    margin-bottom: 1.2em;
}

.two {
    padding: 10%;
    font-size: 1.4em;
}

.two h2,
.two p{
    font-family: "Londrina Sketch", sans-serif;
    margin-bottom: 1.2em;
}

.four {
    padding: 10%;
    font-size: 1.2em;
}

.four h2,
.four p{
    font-family: "Playwrite GB S", cursive;
    margin-bottom: 1.2em;
}

.five {
    padding: 10%;
    font-size: 1.2em;
}

.five h2,
.five p{
    font-family: "Nosifer", sans-serif;
    margin-bottom: 1.2em;
    color:#b50e0e;
}

.seven {
    padding: 10%;
    font-size: 1.2em;
}

.seven h2,
.seven p{
    font-family: "Kablammo", system-ui;
    margin-bottom: 1.2em;
    color: #FFFEF6;
}

/*========================================
    CSS GRID RULES
=========================================*/

.container {
    display: grid;
}

.one {
    min-height: 250px;
    background-image: url(../images/john-mccann-bm15OYOm-Gc-unsplash.jpg);
}

.block_one {
    display: flex;
    flex-direction: column;
    background-color:#3c596ccd ;
    padding: 2%;
    border-radius: 2em 2em 0 2em;
    box-shadow: 0PX 0PX 14PX 0PX rgba(255,255,255,0.75);
}

.block_one img, .block_two img, .three img, .four img, .five img, .six img, .seven img{
    width:15%;
}
.small {
    width:5%; 
    margin-right: 0;
    padding-right: 0;
}

.fltRight {
    float: right;
    margin: 0 0 15px 20px;
        /*  T R   B    L*/
}

.fltLeft {
    float: left;
    margin: 0 15px 20px 0;
}

.two {
    min-height: 250px;
    background-color: #FFC425;
}

.three {
    min-height: 450px;
    background-image: url(../images/2151827499.jpg);
    background-repeat: none;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
}

.four {
    min-height: 250px;
    background-color:#9E5513;
}

.five {
    min-height: 250px;
    background-color: #FFC425;
}

.six {
    min-height: 450px;
    background-image: url(../images/2151827618.jpg);
    background-repeat: none;
    background-size: cover;
    background-position-x:left ;
    background-position-y: bottom;
}

.seven {
    min-height: 250px;
    background-color:#1C0E07;
}

/*-------- Add Heading inside a flexbox -------*/

/*-------- Responsive Images -------*/
img {
    width: 100%
}



/*-------- Tablet Media Query --------*/
@media screen and (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

    #hero {
        min-height: 500px;
    }

    .hero h2 {
        font-size: 2.1rem;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px,auto);
    }

    .one {
        grid-column: 1/3;
    }

    .two {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .three {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .four {
        grid-column: 1/3;
    }

    .five {
        grid-column: 1/3; 
    }

    .six {
        grid-column: 1/2;
    }

    .seven {
        grid-column: 2/3;
    }

}
/*-------- End of Tablet Media Query --------*/

/*-------- Desktop Media Query --------*/
@media screen and (min-width: 1025px) {
    
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    #hero {
        min-height: 800px;
    }

    .hero h2 {
        font-size: 4rem;
        text-align: center;
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .one {
        grid-column: 1/4;
    }

    .two {
        grid-column: 1/3;
    }

    .three {
        grid-column: 3/4;
    }

    .four {
        grid-column: 1/4;
    }

    .five {
        grid-column: 1/4;
    }

    .six {
        grid-column: 1/2;
    }

    .seven {
        grid-column: 2/4;
    }

}
/*-------- End Desktop Media Query --------*/

/*-------- Large Display Media Query --------*/
@media screen and (min-width: 1850px) {
    
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}
/*-------- End Large Display Media Query --------*/

footer {
    margin-top: 0;
    padding: 10%;
    background-color: #FF9505;
    color: #0e0d0a;
    min-height: 300px;
    font-family: "Playwrite GB S", cursive;
}